<app-header></app-header>

<div class="carousalDiv">
	<ngb-carousel>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[0]" alt="First slide" />
			</div>
			<div class="carousel-caption">
				<h3>Sole Distributor of AGFA NV Since 1952</h3>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[1]" alt="Second slide" />
			</div>
			<div class="carousel-caption">
				<h3>Sole Distributor of AGFA NV Since 1952</h3>
			</div>
		</ng-template>
		<ng-template ngbSlide>
			<div class="picsum-img-wrapper">
				<img [src]="images[2]" alt="Third slide" />
			</div>
			<div class="carousel-caption">
				<h3>Sole Distributor of AGFA NV Since 1952</h3>
			</div>
		</ng-template>
	</ngb-carousel>
</div>

<div class="backgroundImage">
<div class="first-second">
	<div class="messageDiv">
		<h2 class="big">Mission of AGFA Pakistan</h2>
		<p class="small">To create value of customer & respect of human dignity. Deliver affordable solution to healthcare professional and to remain leaders in Pakistan.</p>
		<h2 class="big">Vision of AGFA Pakistan</h2>
		<p class="small">AGFA vision is to become a worldwide leader in clinical knowledge to ensure customer satisfaction through our pioneering goods and services.</p>
		<h2 class="big">Goal of AGFA Pakistan</h2>
		<p class="small">To support our healthcare customers through our best services.</p>
	</div>
</div>
</div>
