<nav id="menu">
  <ul>
    <li (click)="redirectionism()" class="menu-home">Home</li>
    <li>About Us
      <ul>
        <span class="dropdown-content">
        <li>Chairman's Message</li>
        <li>CEO's Message</li>
        <li>MD's Message</li>
        <li>Head Office Team</li>
        </span>
      </ul>
    </li>

    <li (click)="redirec()">Products</li>
    <li>Clients</li>
    <li (click)="redirect()"><a>Our Sales Network</a></li>
    <li (click)="redirection()"><a>Our Technical Support</a></li>
    <li>Blog</li>
  </ul>
</nav>
