<app-header></app-header>

<h1 class="title">Technical Support of AGFA Pakistan</h1>

<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
  <h5><strong>Country Manager Technical: Muhammad Zaheer Uddin Siddiqui</strong></h5>
  <span>LL : +92 21 32213810-32627841</span><br>
  <span>Mobile: +92 333 2105758</span><br>
  <span>Email: <a class="email">zaheersiddiqui@appl.com.pk</a></span>
</div>
  
<div class="grid-region">Sindh Region</div>
<div class="grid-item">
  <h4 class="city-name">KARACHI</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Muhammad Imran Ramzan</strong></h5>
    <span>LL : +92 21 32213810-32627841</span><br>
    <span>Mobile: +92 346 0313574</span><br>
    <span>Email: <a class="email">imranramzan@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Shaikh Fahad Jamil</strong></h5>
    <span>LL : +92 21 32213810-32627841</span><br>
    <span>Mobile: +92 314 3328932</span><br>
    <span>Email: <a class="email">fahadshaikh@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Osama Uddin</strong></h5>
    <span>LL : +92 21 32213810-32627841</span><br>
    <span>Mobile: +92 336 2509681</span><br>
    <span>Email: <a class="email">osamauddin@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Shan Ul Haq Raihan</strong></h5>
    <span>LL : +92 21 32213810-32627841</span><br>
    <span>Mobile: +92 322 2318371</span><br>
    <span>Email: <a class="email">shanraihan@appl.com.pk</a></span>
  </div>
</div>

<div class="grid-region">Punjab Region</div>
<div class="grid-item">
  <h4 class="city-name">LAHORE</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
    <h5><strong>Ghulam Mustafa Khan</strong></h5>
    <span>LL: +92 42 36367501-36368880</span><br>
    <span>Mobile: +92 345 4784149</span><br>
    <span>Email: <a class="email">mustafa.khan@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">MULTAN</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
    <h5><strong>Hafiz Mudassar Rasool</strong></h5>
    <span>LL: +92 61 4546914</span><br>
    <span>Mobile: +92 345 7300532</span><br>
    <span>Email: <a class="email">hafiz.mudassar@appl.com.pk</a></span>
</div>
<div class="grid-item">
    <h4 class="city-name">RAWALPINDI</h4>
    <span>Field Service Engineers</span>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Mudassar Hussain</strong></h5>
    <span>LL : +92 51 5566174-186</span><br>
    <span>Mobile: +92 334 6097091</span><br>
    <span>Email: <a class="email">mudassar.hussain@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Syed Imran Hussain</strong></h5>
    <span>LL : +92 51 5566174-186</span><br>
    <span>Mobile: +92 300 5512754</span><br>
    <span>Email: <a class="email">syed.imran@appl.com.pk</a></span>
  </div>
</div>
<div class="grid-item">
  <h4 class="city-name">GUJRANWALA</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
  <h5><strong>Ahsan Imtiaz</strong></h5>
  <span>LL: +92 55 3732156</span><br>
  <span>Mobile: +92 324 6470956</span><br>
  <span>Email: <a class="email">ahsan_imtiaz@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">FAISALABAD</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
  <h5><strong>Ameer Hamza</strong></h5>
  <span>LL: +92 41 8554225</span><br>
  <span>Mobile: +92 304 2624440</span><br>
  <span>Email: <a class="email">ameer.hamza@appl.com.pk</a></span>
</div>

<div class="grid-region">KPK Region</div>
<div class="grid-item">
  <h4 class="city-name">PESHAWAR</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Muhammad Jawad</strong></h5>
    <span>LL: +92 91 5271486</span><br>
    <span>Mobile: +92 346 9150094</span><br>
    <span>Email: <a class="email">muhammad.jawad@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Yasar Shah</strong></h5>
    <span>LL: +92 91 5271486</span><br>
    <span>Mobile: +92 345 9514161</span><br>
    <span>Email: <a class="email">yasarshah@appl.com.pk</a></span>
  </div>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
  <h5><strong>Muhammad Usman Ghani</strong></h5>
  <span>LL: +92 91 5271486</span><br>
  <span>Mobile: +92 311 9441241</span><br>
  <span>Email: <a class="email">usman.ghani@appl.com.pk</a></span>
</div>

<div class="grid-region">Baluchistan Region</div>
<div class="grid-item">
  <h4 class="city-name">QUETTA</h4>
  <span>Field Service Engineers</span>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
  </div>
  <h5><strong>Ilyas Ahmed</strong></h5>
  <span>LL: +92 81 2831484</span><br>
  <span>Mobile: +92 300 9381878</span><br>
  <span>Email: <a class="email">ilyas.ahmed@appl.com.pk</a></span>
</div>

<br>
<br>