<app-header></app-header>

<h1 class="title">Sales Network of AGFA Pakistan</h1>

<div class="grid-region">Sindh Region</div>
<div class="grid-item">
  <h4 class="city-name">KARACHI</h4>
  <p class="address">
    <strong>Address: </strong>Carim House RB, 5/8 Arambagh Road, Pakistan Chowk, Karachi.
  </p>
</div>
<div class="grid-container">
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Muhammad Salman">
    </div>
    <h5><strong>Branch Manager: Muhammad Salman</strong></h5>
    <span>LL : +92 21 32213810</span><br>
    <span>Mobile: +92 321 2669666</span><br>
    <span>Email: <a class="email">msalmankb@appl.com.pk</a></span>
  </div>
  <div class="grid-item">
    <div class="avatar-circle">
      <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Syed Afzal Haider">
    </div>
    <h5><strong>Assistant Sales Manager: Syed Afzal Haider</strong></h5>
    <span>LL : +92 21 32213810</span><br>
    <span>Mobile: +92 300 2403825</span><br>
    <span>Email: <a class="email">syed.afzal@appl.com.pk</a></span>
  </div>
</div>
<div class="grid-item">
  <h4 class="city-name">HYDERABAD</h4>
  <p class="address">
    <strong>Address: </strong>Heera Chamber Shop # 2 Mezzanine Floor, Tilak
    Chari, Hyderabad.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Syed Farhan Ali">
  </div>
  <h5><strong>Branch Manager: Syed Farhan Ali</strong></h5>
  <span>LL: +92 22 2638704</span><br>
  <span>Mobile: +92 332 3698704</span><br>
  <span>Email: <a class="email">s.farhanhyd@appl.com.pk</a></span>
</div>

<div class="grid-region">Punjab Region</div>
<div class="grid-item">
  <h4 class="city-name">LAHORE</h4>
  <p class="address">
    <strong>Address: </strong>6-Davis Road Opposite Ambassador Hotel Lahore.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Syed Adil Hussain">
  </div>
  <h5><strong>Assistant Branch Manager: Syed Adil Hussain</strong></h5>
  <span>LL: +92 42 36367501-36368880</span><br>
  <span>Mobile: +92 322 4161512</span><br>
  <span>Email: <a class="email">adil.hussain@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">MULTAN</h4>
  <p class="address">
    <strong>Address: </strong>1, Babar Com. Centre, Kutchery Road Multan.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Feroz Bakht">
  </div>
  <h5><strong>Branch Manager: Feroz Bakht</strong></h5>
  <span>LL: +92 61 4546914</span><br>
  <span>Mobile: +92 303 6933346</span><br>
  <span>Email: <a class="email">fehrooz.bakht@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">GUJRANWALA</h4>
  <p class="address">
    <strong>Address: </strong>Shop # 6, 1st Floor Al-Waris Plaza Muneer Chowk Civil Hospital Road Gujranwala.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Altaf Mahmood">
  </div>
  <h5><strong>Branch Manager: Chaudhary Altaf Mahmood</strong></h5>
  <span>LL: +92 55 3732156</span><br>
  <span>Mobile: +92 321 4081238</span><br>
  <span>Email: <a class="email">gujranwala@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">FAISALABAD</h4>
  <p class="address">
    <strong>Address: </strong>House No. 600 A Peoples Colony No. 1 Faisalabad.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Ameer Hamza">
  </div>
  <h5><strong>Assistant Manager / Service Engineer: Ameer Hamza</strong></h5>
  <span>LL: +92 41 8554225</span><br>
  <span>Mobile: +92 304 2624440</span><br>
  <span>Email: <a class="email">ameer.hamza@appl.com.pk</a></span>
</div>
<div class="grid-item">
  <h4 class="city-name">RAWALPINDI</h4>
  <p class="address">
    <strong>Address: </strong>Office # B-1 First Floor Ahmed Plaza opp. Askari Bank Range Road Rawalpindi Islamabad.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Bakht Zaman Raza">
  </div>
  <h5><strong>Branch Manager: Bakht Zaman Raza</strong></h5>
  <span>LL : +92 51 5566174-186</span><br>
  <span>Mobile: +92 321 5841406</span><br>
  <span>Email: <a class="email">bakht.zaman@appl.com.pk</a></span>
</div>

<div class="grid-region">KPK Region</div>
<div class="grid-item">
  <h4 class="city-name">PESHAWAR</h4>
  <p class="address">
    <strong>Address: </strong>Sughra Building # 8, Opp. New State Bank Building Saddar Road Peshawar.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Zafar Ullah Jan">
  </div>
  <h5><strong>Branch Manager: Zafar Ullah Jan</strong></h5>
  <span>LL: +92 91 5271486</span><br>
  <span>Mobile: +92 333 9666752</span><br>
  <span>Email: <a class="email">zafarullahjan@appl.com.pk</a></span>
</div>

<div class="grid-region">Baluchistan Region</div>
<div class="grid-item">
  <h4 class="city-name">QUETTA</h4>
  <p class="address">
    <strong>Address: </strong>Kojak Plaza Shop # 20 Samungli Road Quetta.
  </p>
</div>
<div class="grid-item">
  <div class="avatar-circle">
    <img height="120" width="120" src="../../../../assets/img/employees/MSalman.jpeg" alt="Ilyas Ahmed">
  </div>
  <h5><strong>Branch Manager: Ilyas Ahmed</strong></h5>
  <span>LL: +92 81 2831484</span><br>
  <span>Mobile: +92 300 9381878</span><br>
  <span>Email: <a class="email">ilyas.ahmed@appl.com.pk</a></span>
</div>

<br>
<br>
